/* Small devices (phones) didn't work */
@media (max-width: 480px) {
    .container {
        width: 90%; /* Width for mobile phones */
    }
    .contact-icons {
        padding : 10px 0;
    }
}


body {
    font-family: 'Times New Roman', Times, serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #757575;
    color: #059669;
}
.container {
    display: block;
    width: 50%;
    margin: auto;
    overflow: hidden;
    padding: 50px;
}
section {
    background: #ececec;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}


.profile-pic {
    display: block;
    margin: 6px auto;
    width: 85%;

}

.profile-pic-box {
    background: linear-gradient(to bottom, #757575, #ececec);
}

a {
    color: #2196f3;
    text-decoration: none;
    transition: text-decoration 0.5s;
}

a:hover {
    text-decoration: underline;
}


    .contact-icons {
        display: flex;
        margin-top: 20px;
        justify-content: space-around;
        padding: 10px 20%;
    }

    .contact-icons a {
        color: #292929;
        font-size: 1.5em;
        transition: color 1s, transform 0.2s;
    }

    .contact-icons a:hover {
        color: #2196f3;
        text-decoration: none;
        transform: scale(1.2);
    }

    .contact-a {
        display: grid;
        grid-template-rows: auto auto;
        text-align: center;
    }

    .contact-text {
        display: block;
        font-size: small;
        text-align: center;
    }


      
                        .text-with-bubble {
                            position: relative;
                            display: inline-block;
                            cursor: pointer;
                        color: #808080;
                        }
                    
                    .text-with-bubble:hover {
                            background-color: #f0f0f0;
                        }
                    
                        .text-with-bubble:hover .bubble {
                            visibility: visible;
                            opacity: 1;
                        }
                    
                        .bubble {
                            visibility: hidden;
                            opacity: 0;
                            width: 150px;
                            background-color: #f4f4f4;
                            color: #292929;
                            font-family:fantasy;
                            font-size: 0.7em; line-height: 1.0;
                            text-align: center;
                            border-radius: 6px;
                            padding: 8px;
                            position: absolute;
                            z-index: 1;
                            bottom: 125%; /* Position the bubble above the text */
                            left: 50%;
                            transform: translateX(-50%);
                            transition: opacity 0.3s;
                            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
                        }
                    
                        .bubble::after {
                            content: '';
                            position: absolute;
                            top: 100%; /* Bottom of the bubble */
                            left: 50%;
                            margin-left: -5px;
                            border-width: 5px;
                            border-style: solid;
                            border-color: #f9f9f9 transparent transparent transparent;
                        }


footer {
    text-align: center;
    padding: 5px 0;
    background: #292929;
    color: #f4f4f4;
    margin-top: 30px;
}
